# Text files
*.html text eol=lf
*.md text eol=lf
*.css text eol=lf
*.js text eol=lf
*.astro text eol=lf
*.mjs text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
.gitattributes text eol=lf
.gitignore text eol=lf

# Binary assets
*.jpg binary
*.jpeg binary
*.png binary
*.gif binary
